<section class="py-5 bg-secondary">
    <div class="container my-xl-5 my-lg-4 pb-2 py-sm-3 py-md-4">
        <div class="row my-2">
            <div class="col-xl-4 col-lg-5">
                <div class="mb-lg-0 mb-5 mx-lg-0 mx-auto text-lg-start text-center" style="max-width: 26rem;">
                    <h2 class="h1 mb-4 pb-3">
                        Ayudanos a<br> ayudar.
                    </h2>
                    <p class="mb-4">Tu presencia y tu apoyo serán fundamentales para cumplir con nuestra misión. “No dejes para mañana la ayuda que puedes dar hoy” Proverbios 3:28
                    </p>
                    <h5 class="mb-1">Blessed Refuge Foundation</h5>
                </div>
            </div>
            <div class="col-lg-7 offset-xl-1">
                <div class="row row-cols-sm-2 row-cols-1 gy-4">

                    <!-- Item -->
                    <div class="col">
                        <div class="card">
                            <img src="../../../../../assets/img/pic/1.webp" class="card-img-top" alt="Card image">
                            <div class="card-body">
                                <p class="card-text fs-sm">Donacion a un hospital en Venezuela</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="col">
                        <div class="card">
                            <img src="../../../../../assets/img/pic/2.webp" class="card-img-top" alt="Card image">
                            <div class="card-body">
                                <p class="card-text fs-sm">Donacion a un hospital en Venezuela</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>