<section class="container">
    <div class="px-lg-5" style="left: 0%;">

        <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">

            <img class="d-block order-lg-2 flex-shrink-0 animate__animated animate__fadeIn mx-auto" src="../../../../../assets/img/intro/intro.webp" alt="Women Sportswear" style="border-radius: 50px;">

            <div class="position-relative mx-auto py-5 px-3 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-break ">
                    <h3 class="text-primario h3 fw-light pb-1 from-bottom"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </h3>
                    <h1 class="text-primario display-5 from-bottom delay-1">Blessed Refuge Foundation.</h1>
                    <p class="text-primario fs-lg pb-2 from-bottom delay-2 d-flex justify-content-between border-bottom border-2 border-primary">
                        <small> <i class="ci-time"></i> {{ 18-04-2022 | date }} </small>
                        <small>
                            <a class="text-end align-items-end"> see more + </a>
                        </small>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>