<section class="bg-ligero testimonials">
    <div class="container py-5">
        <h2 class="text-segundario">TESTIMONIALS</h2>

        <div class="d-flex justify-content-center flex-wrap gap-4">

            <div class="col-md-3">
                <blockquote class="mb-2">
                    <div class="card border-0 shadow-sm"><span class="testimonial-mark"></span>
                        <div class="card-body fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star"></i>
                                </div>
                            </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center pt-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="../../../../../assets/img/testimonials/03.jpg" width="50" alt="Richard Davis">
                            <div class="ps-3">
                                <h6 class="fs-sm mb-n1">Richard Davis</h6><span class="fs-ms text-muted opacity-75">Feb 14, 2020</span>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>

            <div class="col-md-3">
                <blockquote class="mb-2">
                    <div class="card border-0 shadow-sm"><span class="testimonial-mark"></span>
                        <div class="card-body fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                </div>
                            </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center pt-4">
                        <div class="d-flex align-items-center"><img class="rounded-circle" src="../../../../../assets/img/testimonials/04.jpg" width="50" alt="Laura Willson">
                            <div class="ps-3">
                                <h6 class="fs-sm mb-n1">Laura Willson</h6><span class="fs-ms text-muted opacity-75">Feb 05, 2020</span>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>

            <div class="col-md-3">

                <blockquote class="mb-2">
                    <div class="card border-0 shadow-sm"><span class="testimonial-mark"></span>
                        <div class="card-body fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                                </div>
                            </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center pt-4">
                        <div class="d-flex align-items-center"><img class="rounded-circle" src="../../../../../assets/img/testimonials/01.jpg" width="50" alt="Mary Grant">
                            <div class="ps-3">
                                <h6 class="fs-sm mb-n1">Mary Alice Grant</h6><span class="fs-ms text-muted opacity-75">Jan 27, 2020</span>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>

        </div>

    </div>

</section>