<Section>
    <div class="intro-spiritual d-flex align-items-center justify-content-center animate__animated animate__fadeIn">
        <div class="text-center py-4 px-5">
            <h2 class="text-white display-2">
                Spiritual Division
            </h2>
            <p class="text-white-75 fs-4">Learn more about our spiritual division...</p>
        </div>
    </div>

    <div class="container pt-lg-3 pb-4 pb-sm-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="h3 pb-2">learn more</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                    non numquam eius modi tempora.</p>
            </div>
        </div>
    </div>

    <div class="featured-posts-carousel pt-2 pb-5">

        <div class="container">

            <swiper [config]="config">
                <ng-template swiperSlide>
                    <div class="masonry-grid-item shuffle-item shuffle-item--visible">
                        <div class="card">
                            <img class="card-img" src="../../../assets/img/divisions/spiritual/1.webp" alt="Card image">
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="masonry-grid-item shuffle-item shuffle-item--visible">
                        <div class="card">
                            <img class="card-img" src="../../../assets/img/divisions/spiritual/2.webp" alt="Card image">
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="masonry-grid-item shuffle-item shuffle-item--visible">
                        <div class="card">
                            <img class="card-img" src="../../../assets/img/divisions/spiritual/3.webp" alt="Card image">
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="masonry-grid-item shuffle-item shuffle-item--visible">
                        <div class="card">
                            <img class="card-img" src="../../../assets/img/divisions/spiritual/4.webp" alt="Card image">
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>

    </div>

</Section>