<section class="pb-5">

    <div class="intro-donate d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h2 class="text-white display-2">
                Donations
            </h2>
            <p class="text-white-75 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="mx-auto col-md-6 col-sm-10 my-5">

        <div class="card border-0 shadow">
            <div class="card-body">
                <h5 class="card-title">Paypal</h5>
                <p class="card-text fs-sm text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, rem!</p>

                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
        </div>

    </div>




</section>