<section class="pb-5">

    <div class="intro-donate d-flex align-items-center justify-content-center animate__animated animate__fadeIn">
        <div class="text-center">
            <h2 class="text-darker display-2">
                Donaciones
            </h2>
            <p class="text-darker fs-4">Ponte en contacto con nostros</p>
        </div>
    </div>

    <div class="container mx-auto my-5">

        <div class="d-flex flex-wrap">

            <div class="col-md-8 px-4 border-end border-1">

                <!-- INFO ADDRESS -->
                <div class="row mx-auto py-4">

                    <div class="col-auto mb-grid-gutter">
                        <div class="card border-0 shadow">
                            <div class="card-body text-center">
                                <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                                <h3 class="h6 mb-2">Email</h3>
                                <a class="fs-sm" href="mailto:blessedrefugefoundation@gmail.com">
                                    blessedrefugefoundation@gmail.com
                                <i class="ci-email align-middle ms-1"></i>
                              </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto mb-grid-gutter">
                        <div class="card border-0 shadow">
                            <div class="card-body text-center">
                                <i class="ci-phone h3 mt-2 mb-4 text-primary"></i>
                                <h3 class="h6 mb-3">Telefono</h3>
                                <ul class="list-unstyled fs-sm mb-0">
                                    <li>
                                        <span class="text-muted me-1">Contacto:</span>
                                        <a class="nav-link-style" href="tel:+19094371985">(+1) 909 437 1985</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-4 mx-auto px-4">

                <h3 class="text-segundario h3">Para donaciones monetarias</h3>

                <div class="card border-0 shadow">
                    <div class="card-header">
                        <h5 class="card-title mb-0 py-2">Donar con Paypal</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-sm text-muted">Con tu donación, ayudaras a cumplir nuestra misión...</p>

                        <a name="" id="" class="btn btn-dark text-white w-100" href="https://www.paypal.com/donate/?hosted_button_id=WHN34GDGES4R8" target="_blank" role="button">
                            <i class="ci-paypal"></i> PayPal
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>