<section class="container-fluid pt-grid-gutter animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <a class="card h-100" data-scroll="">
                <div class="card-body text-center">
                    <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-2">Main store address</h3>
                    <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <div class="card h-100">
                <div class="card-body text-center"><i class="ci-time h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3">Working hours</h3>
                    <ul class="list-unstyled fs-sm text-muted mb-0">
                        <li>Mon - Fri: 10AM - 7PM</li>
                        <li class="mb-0">Sta: 11AM - 5PM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <div class="card h-100">
                <div class="card-body text-center"><i class="ci-phone h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3">Phone numbers</h3>
                    <ul class="list-unstyled fs-sm mb-0">
                        <li><span class="text-muted me-1">For customers:</span><a class="nav-link-style" href="tel:+108044357260">+1 (080) 44 357 260</a></li>
                        <li class="mb-0"><span class="text-muted me-1">Tech support:</span><a class="nav-link-style" href="tel:+100331697720">+1 00 33 169 7720</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-grid-gutter">
            <div class="card h-100">
                <div class="card-body text-center"><i class="ci-mail h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3">Email addresses</h3>
                    <ul class="list-unstyled fs-sm mb-0">
                        <li><span class="text-muted me-1">For customers:</span><a class="nav-link-style" href="mailto:+108044357260">customer@example.com</a></li>
                        <li class="mb-0"><span class="text-muted me-1">Tech support:</span><a class="nav-link-style" href="mailto:support@example.com">support@example.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAP -->
<div class="container-fluid px-0 pt-4" id="map">
    <div class="container mb-3">
        <h3 class="text-segundario mb-0 pb-0">MAP</h3>
        <p class="text-primario mb-0 text-break"><i class="ci-location"></i> find our location on the map</p>
    </div>
    <div class="iframe-full-height-wrap" style="height: 400px;">
        <iframe class="iframe-full-height" width="600" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53357.14257194912!2d-73.07268695801845!3d40.78017062807504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e8483b8bffed93%3A0x53467ceb834b7397!2s396+Lillian+Blvd%2C+Holbrook%2C+NY+11741%2C+USA!5e0!3m2!1sen!2sua!4v1558703206875!5m2!1sen!2sua"></iframe>
    </div>
</div>