<!-- Row: -->
<section class="row g-0">
    <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(../../../assets/img/about/mision.webp);"></div>
    <div class="col-md-6 px-3 px-md-5 py-5">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3 pb-3">Misión</h2>
            <p class="fs-sm pb-3 text-muted">Utilizar la fuerza del amor transformador y poner nuestra fe en acción, utilizando las leyes eternales y universales como piedra angular en todos nuestros procesos, para impulsar y promover con el ejemplo; la compasión, la misericordia y el
                urgente despertar de la conciencia entre nuestra sociedad.</p>

        </div>
    </div>
</section>
<!-- Row: -->
<section class="row g-0">
    <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(../../../assets/img/about/vision.webp);"></div>
    <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3 pb-3">Visión</h2>
            <p class="fs-sm pb-3 text-muted">Fomentar, promover y desarrollar a corto, mediano y largo plazo, programas y proyectos humanitarios en el ámbito médico, educativo, cultural, tecnológico y agrícola. ademas de convenios y tratados de índole gubernamental, así mismo, con organizaciones
                sin fines de lucro, nacionales e internacionales.</p>

        </div>
    </div>
</section>
<!-- Row: -->
<section class="row g-0">
    <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(../../../assets/img/about/objectivo.webp);"></div>
    <div class="col-md-6 px-3 px-md-5 py-5">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3 pb-3">Objectivo</h2>
            <p class="fs-sm pb-3 text-muted">Realizar la búsqueda y el salvamento en un amplio sentido de la integridad y garantía individual de cada ser humano, con responsabilidad y compromiso, fungiendo como refugio para todo aquel ser humano, marginado. Aplicando los valores y las
                virtudes como la compasión, la misericordia, la empatía, la rectitud, la integridad, el respeto, la cordialidad, la generosidad, la honestidad, y la motivación como antídoto para combatir el desamor la deshumanización, y la indiferencia,
                alcanzando el ideal primordial de ayudar al prójimo a encontrar su felicidad y plenitud de vida.</p>

        </div>
    </div>
</section>