<section class="animate__animated animate__fadeIn">
    <div class="container pb-5 mb-2 mb-md-4">
        <!-- Featured posts carousel-->
        <div class="featured-posts-carousel pt-5">

            <div>

                <swiper [config]="config">

                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/1.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/2.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/3.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/4.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/5.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/6.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/7.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/8.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/9.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/10.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/11.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>
                    <ng-template swiperSlide>
                        <article>
                            <a class="blog-entry-thumb mb-3">
                                <img src="../../../../../assets/img/lecturas/12.webp" alt="Featured post">
                            </a>
                        </article>
                    </ng-template>

                </swiper>

            </div>

        </div>
    </div>
</section>