<div *ngIf="!cookie" class="container-fluid py-2 bg-dark opacity-75 fixed-bottom" style=" z-index: 50;">
    <div class="mx-auto">
        <p class="text-break text-white mb-0 fw-normal text-center">
            This website uses its own and third-party cookies to offer you a better experience and service.<br> By browsing or using our services, you accept our use of cookies. <button type="button" (click)="acceptCokies()" class="btn btn-sm btn-outline-light rounded-pill">I agree</button></p>
    </div>
</div>

<footer class="bg-primario pt-5 px-md-4 w-100" style="position: fixed; height: auto; bottom: 0;">


    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Paginas</h3>
                    <ul class="widget-list">
                        <li routerLinkActive="active" class="widget-list-item">
                            <a routerLink="/home" class="widget-list-link">Inicio</a>
                        </li>
                        <li routerLinkActive="active" class="widget-list-item">
                            <a routerLink="/about" class="widget-list-link">Nosotros</a>
                        </li>
                        <li routerLinkActive="active" class="widget-list-item">
                            <a routerLink="/donate" class="widget-list-link">Donación</a>
                        </li>
                        <li routerLinkActive="active" class="widget-list-item">
                            <a routerLink="/contacts" class="widget-list-link">Contacto</a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Policy and Privacy</h3>
                    <ul class="widget-list">
                        <li routerLinkActive="active" class="widget-list-item">
                            <a href="#" class="widget-list-link">Privacy</a>
                        </li>
                        <li routerLinkActive="active" class="widget-list-item">
                            <a href="#" class="widget-list-link">Terms of use</a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Redes Sociales</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item d-flex align-items-center">
                            <a class="btn-social bs-light  bs-facebook ms-2 mb-2" href="https://www.facebook.com/profile.php?id=100081890033742" target="_blank">
                                <i class="ci-facebook"></i>
                            </a>
                            <a class="text-decoration-none" href="https://www.facebook.com/profile.php?id=100081890033742" target="_blank">
                                <span class="text-white-75 ms-2">facebook</span>
                            </a>
                        </li>
                        <li class="widget-list-item d-flex align-items-center">
                            <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/blessed_refuge_fdn/" target="_blank">
                                <i class="ci-instagram"></i>
                            </a>
                            <a class="text-decoration-none" href="https://www.instagram.com/blessed_refuge_fdn/" target="_blank">
                                <span class="text-white-75 ms-2">instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title text-light pb-1">Contacto</h3>
                    <div class="widget">
                        <ul class="widget-list">
                            <li class="d-flex">
                                <i class="ci-phone fs-lg mt-2 text-white-75"></i>
                                <div class="ps-3">
                                    <span class="fs-ms text-white-50">Llamanos</span>
                                    <a class="d-block text-white-75 fw-normal fs-sm" href="tel:+19094371985">(+1) 909 437 1985</a>
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="ci-mail fs-lg mt-2 text-white-75"></i>
                                <div class="ps-3">
                                    <span class="fs-ms text-white-50">Escribenos</span>
                                    <a class="d-block text-white-75 fw-normal fs-sm" href="mailto:blessedrefugefoundation@gmail.com">blessedrefugefoundation@gmail.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-end">
                <button type="button" (click)="upTop()" class="btn btn-light rounded-pill btn-icon ms-auto" style="position: fixed; right: 2.5rem;">
                    <i class="ci-arrow-up"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="pt-2 bg-primario">
        <div class="container">
            <div class="pb-4 fs-xs text-white-75 text-center text-md-start">© {{ year | date: 'yyyy'}} Todos los derechos reservados. blessed refuge foundation</div>
        </div>
    </div>
</footer>